{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}
    
{% block blogactive%} active {% endblock blogactive%}
{% block body %}


<h2> Search Articles by Nexa: </h2>
{% if allPosts|length < 1 %}
  <center>
    <p> no search result </p>
  your search -<b> {{query}}</b> - did not match any documents.
  suggestions:<br>
  Try different Keywords</center>
{% endif %} 
{% for post in allPosts  %}
<div class = "container my-3">
<div class="row ">
    <div class="col">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content | truncatechars:100 }}</p>
          <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
      </div>
        
    </div>
</div>
    
</div>

   

</div>

{% endfor %}

{% endblock body %}