{% extends 'base.html' %}

{% block title %} Blog - Home {% endblock title %}
{% block js %}
<script>
  let previews = document.getElementsByClassName('previews');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
  })
</script>

{% endblock js %}
{% block blogactive%} active {% endblock blogactive%}
{% block body %}
{% if user.is_authenticated %}
<center> <a href="home\test.html" class="btn btn-danger my-2">Create Blog</a></center>
{% else %}
<center> <a href="#" class="btn btn-danger my-2 disabled">Log in to Create Blog</a></center>
{% endif %}

<center><h2> coding Articles by Nexa:</h2></center>

{% for post in allPosts  %}

<div class = "container my-3">



<div class="row ">
    <div class="col">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0"><a class="text-dark"href="/blog/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe | truncatechars:100 }}</div></p>
           <a href="/blog/{{post.slug}}" role="button" class="btn btn-outline-primary">Continue reading</a>
        </div>
       
        
      </div>
      
    </div>
    
  </div>

   

</div>

{% endfor %}

{% endblock body %}